body{
    margin-top: 30%;
    align-items: center;
    text-align: center;
}


button{
    padding: 10px 20px;
    margin: 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

/* const colorGenerator = function(){
    let hexVolue = '0123456789ABCDEF';
    let color = '#';
    for(let i =0; i<6;i++){
        color+=hexVolue[Math.floor(Math.random()*16)];
    }
    return;
}
console.log(colorGenerator) */