body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
}
h1{
    margin: 10px;
    text-transform: capitalize;
}
p{
    margin: 0%;
    text-transform: capitalize;
}
table, th, td{
    font-size: 20px;
    width: 300px;;
    text-align: center;
    border: 2px solid #000;
    border-collapse: collapse;
}
